<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>sh0rty</title>
	<link rel="stylesheet" href="global.css?ver=1.0.1">
	<link rel="stylesheet" href="<%= theme %>?ver=2.3.1"" id="theme">
	<meta name="description" content="Sh0rty is the coolest link shortener on the Internet.">
	<meta name="google" content="notranslate">
	<meta property="og:url" content="https://sh0rty.me">
	<meta property="og:title" content="sh0rty - link shortener">
	<meta property="og:description" content="Sh0rty is the coolest link shortener on the Internet.">
	<meta property="og:type" content="website">
	<meta name="theme-color" content="#d18c1d">
</head>
<body>

	<p id="name">SH0RTY</p>
	<div id="main">
		<div id="right-measure">
			<span class="top"></span>
			<span class="mid">
				<p id="sizeText"></p>
			</span>
			<span class="bot"></span>
		</div>
		<form id="form" action="javascript:void(0);" method="post">
			<input type="text" name="url" id="url" placeholder="URL">
			<input type="submit" id="submit" value="Shorten URL">
		</form>
		<div class="alertBox">
			<p></p>
		</div>
		<a href="https://github.com/PotatoDev33" target="_blank"><p id="author">PotatoDev33</p></a>
	</div>

	<div class="trigger">
		<p></p>
	</div>
	<div class="themesList">
		<input id="modern-input" type="radio" name="themes" value="modern" hidden>
		<label class="theme-input modern" for="modern-input">
			<span class="inside-input"></span>
		</label>
		<input id="classic-input" type="radio" name="themes" value="classic" hidden>
		<label class="theme-input classic" for="classic-input">
			<span class="inside-input"></span>
		</label>
	</div>
	
	<script src="app.js?ver=3.1.0" defer></script>
</body>
</html>